.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonName {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5rem;
  margin-bottom: -10px;
  text-shadow: -2px -2px white;
}

.infoHeading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3.5rem;
  margin-bottom: 5px;
  margin-top: -10px;
  text-shadow: -2px -2px white;
}

.pokemonImage {
  width: 300px;
  height: 300px;
}

.pokemonInfo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  padding: 10px;
  background-color: aliceblue;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  box-shadow: -3px 3px black, -2px 2px black, -1px 1px black;
}

.circularProgress {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
