.pokedexBackground {
  background-color: #87ceeb;
}

.pokedexContainer {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.cardMedia {
  margin: auto;
  width: 130px;
  height: 130px;
}

.card {
  border: 2px solid;
  border-color: #3c5aa6;
}

.card:hover {
  transform: scale(1.02);
  opacity: 1;
}

.card:hover .cardMedia {
  transform: scale(1.2);
  opacity: 1;
}

.card:active {
  background-color: gray;
}

.cardContent {
  text-align: center;
}

.cardText {
  font-size: 1.5rem;
}

.link {
  text-decoration: none;
}

.circularProgress {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.searchContainer {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 80px;
  align-items: center;
}

.searchIcon {
  margin-top: 15px;
}

.searchInput {
  margin: 5px;
  color: white;
}

.spacer {
  height: 90px;
}

.pokemonLogo {
  width: 180px;
  height: 70px;
  margin-left: -10px;
}

.toolBar {
  border-bottom: 2px solid;
  border-color: #3c5aa6;
}
